<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>album page</h1>
<div>
    <img th:src="${album.getImageUrl()}" >
    <P th:text="${album.getTitle()}" ></P>
    <P th:text="${album.getArtist()}"></P>
    <P th:text="${album.getSongCount()}"></P>
    <P th:text="${album.getLength()}"></P>
    <ul>
        <li th:each="song: ${album.songs}">

            <span th:text="${'Song title : '+ song.getTitle()}"></span>
            <span th:text="${'Song track number :  '+   song.getTrackNumber()}"></span>
            <span th:text="${'Song length :  '+song.getLength()}"></span>
        </li>
    </ul>

</div>
<div >
    <form method="POST" action="/song">
        <label for="titleSong">Song Title</label>
        <input type="text"  id="titleSong"  name="title">
        <br>
        <label for="lengthSong">Length</label>
        <input type="number" id="lengthSong"  name="length">
        <br>
        <label for="trackNumber">Song track number</label>
        <input type="number" id="trackNumber"  name="trackNumber">
        <br>
        <label for="album">Album Title:</label>
        <input type="text"  id="album" name="album" th:value="${album.title}" required readonly>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>